<div class="postImageCases" style="background-image: url('{{site.baseurl}}/images/{{page.image}}');"></div>
<section>
<div class="postTemplate">
  <p class="datePost" style="margin-top:20px;"><a href="{{site.baseurl}}/#visualSection" class="pagination-links-dark">Home</a> / <a href="{{site.baseurl}}/cases" class="pagination-links-dark">Cases</a> / {{page.title}}</p>
  <h1>{{page.title}}</h1>
  <p class="datePost">{{page.day}}/{{page.month}} - {{page.year}}</p>
  <p class="descPost">{{page.description}}</p>
  <p class="descPost" style="text-decoration:underline;"><a href="{{page.pageurl}}">{{page.pageurl}}</a></p>
  <hr>

  {{content}}



</div>
<div class="linkCenter">
  <a class="postBack" href="{{site.baseurl}}/cases/">


    <svg width="20px" height="9px" viewBox="0 0 20 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M0,4.5 L9,0 L9,9 L0,4.5 Z M9,3 L20,3 L20,6 L9,6 L9,3 Z" id="Combined-Shape" fill="#4D4D4D"></path>
        </g>
    </svg>
    <p>Case collection</p></a>
</div>
</section>
