<section class="about">
  <div class="container">
    <div class="pic"></div>
    <div class="abouttext">
      <h1 class="abouth1">Marcus Pamp</h1>
      <p class="aboutp">
        What’s up! My name is, as written in the navbar and above, Marcus and I’m a Digital designer currently studying Interaction design @ <a href="https://edu.mah.se/TGIDE"><span class="underline">Malmö Högskola</span></a></br></br>

        I just love visual design and can’t see myself doing anything else. Anyway, to the important stuff. Self taught from the age of 12. Having people supporting me around all the time always allowed me to push myself towards the design profession early. I've worked a couple of years with website design and marketing as a freelancer before heading to school in Malmö. Now I'm on my 2nd year out of three and still freelance/run my own company while studying.
        </br>
        </br>
        Based: <span>Lund</span>, Sweden</br>
        Age: <span>22</span></br>
        Can you code? <span>Yes,</span> I've been coding since the age of 12. Some languages are: HTML5, CSS, Javascript, PHP<br>
        How about drawing up things? Prototyping?<br> <span>Of course,</span> Photoshop/Adobe suit since the beginning. However, mainly <a href="http://www.sketchapp.com/"><span class="underline">Sketch</span></a> now. I use various different prototyping tools such as <a href="http://principleformac.com/"><span class="underline">Principle</span></a>, <a href="http://www.origami.design/"><span class="underline">Origami</span></a>, <a href="http://www.getnoodl.com/"><span class="underline">Noodl</span></a> etc
      </p>
    </div>
  </div>
</section>
