<section class="about">
  <div class="container">
    <div class="pic"></div>
    <div class="abouttext">
      <h1 class="abouth1">Marcus Pamp</h1>
      <p class="aboutp">
        What’s up! My name is, as written in the navbar and above, Marcus and I’m a visual designer currently studying Interactionsdesign @ <a href="http://www.mah.se/"><span class="underline">Malmö Högskola</span></a></br></br>

        I just love visual design and can’t see myself doing anything else. Anyway, to the important stuff. Self taught from the age of like 8-9. Having people supporting me around all the time always allowed me to push myself towards the design profession early. I worked a couple of years with website design and marketing before heading to school in Malmö. So yeah.. couple of years in the industry.
        </br>
        </br>
        Based: <span>Lund</span>, Sweden</br>
        Age: <span>22</span></br>
        Can you code? <span>Yes,</span> I've been coding since the age of 12 though I'm more focused on the design area
      </p>
    </div>
  </div>
</section>
