<section class="about">
  <div class="container">
    <div class="pic"></div>
    <div class="abouttext">
      <h1 class="abouth1">Marcus Johansson</h1>
      <p class="aboutp">
        How's it going? My name is Marcus and I’m a Interaction designer currently studying Interaction design @ <a href="https://edu.mah.se/TGIDE"><span class="underline">Malmö Högskola</span></a>.<br> Right now I'm doing exchange studies @ <a href="https://www.gatech.edu/"><span class="underline">Georgia Tech</span></a> until January 2019</br></br>

        I just love design and can’t see myself doing anything else. Anyway, to the important stuff: I've worked a couple of years with website design and marketing as a freelancer before heading to school in Malmö in 2016. Now I'm on my third year graduating June 2019 and still freelance/run my own company while studying.
        </br>
        </br>
        <span>Important bits</span><br>
        Based: <span>Malmö</span>, Sweden</br>
        Age: <span>23</span></br>
        Can you code? <span>Yes,</span> What I focus on are: HTML5, SASS, CSS, Javascript, PHP<br>
        How about drawing up things? Prototyping? <span>Sure,</span> Very comfortable within Adobe creative suite. However, I mainly use <a href="http://www.sketchapp.com/"><span class="underline">Sketch</span></a> nowadays, but I various different prototyping tools for different purposes. Some of them are <a href="http://principleformac.com/"><span class="underline">Principle</span></a>, <a href="http://www.origami.design/"><span class="underline">Origami</span></a>, <a href="http://www.getnoodl.com/"><span class="underline">Noodl</span></a> etc
      </p>
    </div>
  </div>
</section>
