<!DOCTYPE html>
<html>
  <head>
    <title>Marcus Pamp | {{layout.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style-min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <p class="brand">
          <a href="/{{site.baseurl}}">Marcus Pamp</a>
        </p>
        <div class="menuItems">
          <a target="_blank" href="https://www.linkedin.com/in/marcus-johansson-15b284108/"><img src="{{site.baseurl}}/images/linkedin.svg" alt="linkedin" /></a>
          <!-- <a href="https://www.instagram.com/marcuusen/"><img src="{{site.baseurl}}/images/instagram.svg" alt="instagram" /></a> -->
          <!-- <a target="_blank" href="https://twitter.com/marcuspamp"><img src="{{site.baseurl}}/images/twitter.svg" alt="twitter" /></a> -->
          <a href="mailto:marcus@movemarketing.se?subject=marcuspamp.se%20Portfolio"><img src="{{site.baseurl}}/images/mail.svg" alt="mail"></a>
          <!-- <p class="contactText"><span>|</span> Contact</p> -->
        </div>
      </div>
    </nav>
