<!DOCTYPE html>
<html>
  <head>
    <title>Marcus Pamp</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style-min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <p class="brand">
          <a href="/{{site.baseurl}}">Marcus Pamp</a>
        </p>
        <div class="menuItems">
          <img src="{{site.baseurl}}/images/linkedin.svg" alt="linkedin" />
          <img src="{{site.baseurl}}/images/instagram.svg" alt="instagram" />
          <img src="{{site.baseurl}}/images/twitter.svg" alt="twitter" />
          <p><span>|</span> Contact</p>
        </div>
      </div>
    </nav>
