<section class="visual" id="visualSection">
  <div class="container">
    <div class="text">
      <h1>Visual ideas</h1>
      <p>Visual ideas about some of my favourite products</p>
    </div>
    <div class="productlist">
      {% for visual in site.categories.visual-featured limit:6 reversed %}
      <a href="{{site.baseurl}}{{visual.url}}" class="caselink">
        <div class="product">
          <div class="productcolor {{visual.color}}"></div>
            <div class="productpicture" style="background-image: url('{{site.baseurl}}/images/{{visual.image}}');"></div>
            <h3>{{visual.title}}</h3>
            <p>{{visual.meta}}</p>

        </div>
    </a>
    {% endfor %}
    <!--  <div class="product">
        <div class="productcolor pink">

        </div>
        <div class="productpicture"></div>
        <h3>Coming soon</h3>
        <p>Coming soon</p>
      </div>

      <div class="product">
        <div class="productcolor blue">

        </div>
        <div class="productpicture"></div>
        <h3>Coming soon</h3>
        <p>Coming soon</p>
      </div>
      <div class="product">
        <div class="productcolor navyblue">

        </div>
        <div class="productpicture"></div>
        <h3>Coming soon</h3>
        <p>Coming soon</p>
      </div>
      <div class="product">
        <div class="productcolor darkblue">

        </div>
        <div class="productpicture"></div>
        <h3>Coming soon</h3>
        <p>Coming soon</p>
      </div> -->
    </div>
    <a href="{{site.url}}/visual-ideas/"><button>View all</button></a>
  </div>
</section>
